$color-light-blue: #dde0e9;
$color-trans-white: rgba(255, 255, 255, 0.7);
$color-dark-blue: #003153;
$color-gold-brown: #b96d34;

$font-main: Arial, Helvetica, sans-serif;

$bg-hero: url("https://i.ibb.co/Z6HPGPj0/road-without-car.jpg");