$color-light-blue: #dde0e9;                 
$color-trans-white: rgba(255, 255, 255, .7); 
$color-dark-blue: #003153;                  
$color-gold-brown: #b96d34;                 


$font-stack: Arial, Helvetica, sans-serif;

$bp-md: 992px;
$bp-sm: 576px;